/* 
 * Card component
 */

@use '../02-tools/mixins' as *;

.c-card {
  @apply relative rounded-[0.3125rem] bg-transparent;
  
  // Base transitions
  transition: padding 0.5s cubic-bezier(0.33, 1, 0.68, 1),
              background 0.5s cubic-bezier(0.33, 1, 0.68, 1),
              box-shadow 0.5s cubic-bezier(0.33, 1, 0.68, 1),
              opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  
  // Variants
  &--nested {
    @apply flex flex-1 p-[1px] shadow-none;

    // Shadow modifier for nested cards
    &--shadow {
      box-shadow: var(--default-shadow);
    }
  }
  
  // Nav card styles
  &--nav {
    @apply rounded-[0.3125rem] ;
    /*border border-[#32323A]*/
    &--sticky {
      @apply p-[1px];
      box-shadow: var(--nav-shadow);
    }
    
    &--default {
      @apply p-0 shadow-none;
    }
  }
  
  // Default card style
  &--default {
    @apply p-[1px];
    box-shadow: var(--default-shadow);
  }
  
  // Gradient layer
  &__gradient {
    @apply absolute inset-0 rounded-[0.3125rem];
    transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1),
                background 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  }
  
  // Content wrapper
  &__content {
    @apply relative rounded-[0.25rem] px-4 py-4;
    transition: background 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    
    // Content modifiers
    &--nested {
      @apply flex-1;
    }
    
    &--no-padding {
      @apply px-0 py-0;
    }

    // Hover effect
    &:hover {
      @apply bg-[#32323A];
      background: radial-gradient(circle at 100% 0%, rgba(180, 144, 255, 0.2) -30%, rgba(55, 55, 62, 0.2) 30%), rgb(55, 55, 62);
    }
  }
} 