/* 
 * Navigation component
 */

@use '../02-tools/mixins' as *;

.c-navigation {
  &__desktop {
    @apply fixed top-0 left-0 right-0 z-50 hidden;
    
    @include respond-to(md) {
      @apply block;
    }
  }

  &__mobile {
    @apply fixed bottom-0 left-0 right-0 z-50 block;
    
    @include respond-to(md) {
      @apply hidden;
    }
  }

  &__wrapper {
    @apply max-w-5xl mx-auto;
  }

  &__container {
    @apply relative;
  }

  &__inner {
    @apply transform-gpu;
    transition: transform 0.5s cubic-bezier(0.33, 1, 0.68, 1),
                box-shadow 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    &:not(.c-navigation__inner--scrolled) {
      .c-card__gradient {
        background: none;
        opacity: 0;
        background-image: none;
        background-color: transparent;
      }
    }
    &--scrolled {
      @apply translate-y-4;
    }
  }

  &__card {
    @apply backdrop-blur-md;
    
    // Ensure the Card component's gradient is visible
    .c-card__gradient {
      transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1),
                  background 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    }
    
    .c-navigation__mobile & {
      @apply rounded-none border-t border-gray-800;
    }
  }

  &__content {
    @apply flex justify-between items-center;
  }

  &__menu {
    @apply flex gap-8;
    
    &--mobile {
      @apply flex justify-between;
    }
  }

  &__item {
    @apply flex items-center;
    
    .c-navigation__mobile & {
      @apply flex justify-center;
    }
  }

  &__link {
    @apply text-gray-400;
    transition: color 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    
    &:hover {
      @apply text-purple-400;
    }
    
    .c-navigation__mobile & {
      @apply text-sm;
    }
    
    &--active {
      @apply text-purple-400;
    }
  }

  &__breadcrumb {
    @apply text-gray-400 hidden;
    
    @include respond-to(md) {
      @apply inline-block;
    }
    
    &-separator {
      @apply mx-2;
    }
    
    &-current {
      @apply text-purple-400;
    }
  }

  &__actions {
    @apply flex gap-4;
  }
} 